@model HERO.Models.Objects.Performance

@using HERO.Extensions;

@{
    ViewBag.Title = "Add Your Performance";
    HERO.Models.Objects.Class cls = ViewData["Class"] as HERO.Models.Objects.Class;
    HERO.Models.Objects.WOD wod = ViewData["WOD"] as HERO.Models.Objects.WOD;
}

@Html.Partial("_LeftMenu")

<div class="col-md-10">
    <div class="row">
        <div class="bootstrap-admin-content-title">
            <h1>Add Your Performance</h1>
        </div>
    </div>
    <div class="row bootstrap-admin-no-edges-padding">
        <div class="col-md-6">
            <div class="panel panel-default bootstrap-admin-no-table-panel">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Enter Performance</div>
                </div>
                <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                    @using (Html.BeginForm("Create", "Performances", new { classId = cls.Id }, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken();
                        <div class="form-group">
                            @switch (wod.Scoring)
                            {
                                case HERO.Models.Objects.WODScoring.TotalReps:
                                    @Html.Label("Reps:", new { @class = "col-lg-2 control-label" })
                                    <div class="col-md-9 col-md-offset-1">
                                        @Html.TextBoxFor(m => m.ScoreInput, new { @class = "form-control col-md-6", autocomplete = "off", placeholder = "Ex. 252" })
                                    </div>
                                    break;
                                case HERO.Models.Objects.WODScoring.TotalRounds:
                                    @Html.Label("Rounds:", new { @class = "col-lg-2 control-label" })
                                    <div class="col-md-9 col-md-offset-1">
                                        @Html.TextBoxFor(m => m.ScoreInput, new { @class = "form-control col-md-6", autocomplete = "off", placeholder = "Ex. 3" })
                                    </div>
                                    break;
                                case HERO.Models.Objects.WODScoring.TotalTime:
                                    @Html.Label("Time:", new { @class = "col-lg-2 control-label" })
                                    <div class="col-md-9 col-md-offset-1">
                                        @Html.TextBoxFor(m => m.ScoreInput, new { @class = "form-control col-md-6", autocomplete = "off", placeholder = "Ex. 3:56" })
                                    </div>
                                    break;
                            }
                        </div>
                        <div class="form-group">
                            @Html.Label("Comments:", new { @class = "col-lg-2 control-label" })
                            <div class="col-md-9 col-md-offset-1">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control col-md-6", autocomplete = "off", placeholder = "Ex. Add more weight." })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Prescribed:", new { @class = "col-lg-2 control-label" } )
                            <div class="col-md-9 col-md-offset-1">
                                <input type="checkbox" id="checkbox67" class="css-checkbox lrg" name="Prescribed"/>
                                <label for="checkbox67" name="checkbox67_lbl" class="css-label lrg web-two-style"></label>
                            </div>
                        </div>
                        <hr />
                        <button type="submit" value="Create" class="btn btn-primary">Add Performance</button>
                        @Html.ActionLink("Cancel", "PastClasses", new { controller = "Classes" }, new { @class = "btn btn-default" })
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">WOD Details</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <p><b>Name</b>: @Html.ActionLink(wod.Name, "Details", new { controller = "WOD", id = wod.Id } )</p>
                    <p><b>Date</b>: @cls.Time.Value.Date.ToString("MM/dd/yyyy") @cls.Time.Value.ToString(@"hh\:mm tt")</p>
                    @{ var scoring = wod.Scoring.GetDisplayName(); }
                    <p><b>Scoring</b>: @scoring</p>
                    <hr />
                    @Html.Raw(wod.Description)
                </div>
            </div>
        </div>
    </div>
</div>


