@model HERO.Models.AddWodViewModel

@{
    ViewBag.Title = "Create a WOD";
}

@Html.Partial("_LeftMenu")
@Styles.Render("~/Content/Vendors")

<div class="col-md-10">
    <div class="row">
        <div class="bootstrap-admin-content-title">
            <h1>Create a WOD</h1>
        </div>
    </div>
    @if (Model.ClassId != null)
    {
        <div class="row">
            <div class="alert alert-info">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <strong>Notice!</strong> You are adding this WOD to a specific Class (ID: @Model.ClassId). If you instead want to add the stand-alone WOD, click here.
            </div>
        </div>
    }
    <div class="row">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">WOD Details</div>
            </div>
            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                @using (Html.BeginForm("Create", "WOD", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken();
                    <fieldset>
                        <legend>Enter WOD Details</legend>
                        <div class="form-group">
                            @Html.LabelFor(m => m.WOD.Name, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(m => m.WOD.Name, new { @class = "form-control col-md-6", autocomplete = "off" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.WOD.Scoring, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.EnumDropDownListFor(m => m.WOD.Scoring, new { @class = "form-control col-md-6" } )
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.WOD.Description, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                <!-- <textarea class="form-control col-md-6" placeholder="Enter WOD Description..." style="height:200px" name="WOD.Description"></textarea> -->
                                <textarea id="bootstrap-editor" class="form-control" placeholder="Enter WOD description..." style="height: 200px" name="WOD.Description"></textarea>
                            </div>
                        </div>
                        @if (Model.ClassId != null)
                        {
                            <div class="form-group" style="display:none;">
                                @Html.TextBoxFor(m => m.ClassId, new { type = "hidden", value = Model.ClassId })
                            </div>
                        }
                        <hr />
                        <button type="submit" value="Create" class="btn btn-primary">Add Wod to Class</button>
                        @Html.ActionLink("Cancel", "Index", new { controller = "Classes" } , new { @class = "btn btn-default" })
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/vendors")
    <script src="/Content/Theme/vendors/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript">
        // Bootstrap
        $('#bootstrap-editor').wysihtml5({
            stylesheets: [
                '/Content/Theme/vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/stylesheets/bootstrap-wysihtml5/wysiwyg-color.css'
            ]
        });
    </script>
}