@model HERO.Models.Objects.WOD

@{
    ViewBag.Title = "WOD Details";
}

@Html.Partial("_LeftMenu")

@using (Html.BeginForm("Delete", "WOD", FormMethod.Post, new { style = "display:none;", id = "delete-form" }))
{
    @Html.AntiForgeryToken();
    <input type="hidden" value="@Model.Id" name="Id" />
}

<div class="col-md-10">
    <div class="row">
        <div class="bootstrap-admin-content-title">
            <h1>Manage @Model.Name</h1>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">WOD Details</div>
            </div>
            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                @using (Html.BeginForm("Edit", "WOD", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken();
                    <fieldset>
                        <div class="form-group" style="display:none;">
                            <input type="hidden" value="@Model.Id" name="Id"/>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control col-md-6", autocomplete = "off" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Scoring, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.EnumDropDownListFor(m => m.Scoring, new { @class = "form-control col-md-6" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                <textarea id="bootstrap-editor" class="form-control" placeholder="Enter WOD description..." style="height: 200px" name="Description">@Model.Description</textarea>
                            </div>
                        </div>
                        <hr />
                        <button type="submit" value="Edit" class="btn btn-primary">Save Changes</button>
                        <a href="javascript:document.getElementById('delete-form').submit()" class="btn btn-default confirm">Delete</a>
                        @Html.ActionLink("Cancel", "Index", "WOD", new { @class = "btn btn-default" })
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/vendors")
    <script src="/Content/Theme/vendors/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript">
        // Bootstrap
        $('#bootstrap-editor').wysihtml5({
            stylesheets: [
                '/Content/Theme/vendors/bootstrap-wysihtml5-rails-b3/vendor/assets/stylesheets/bootstrap-wysihtml5/wysiwyg-color.css'
            ]
        });
    </script>
}