@model HERO.Models.Objects.Athlete

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.Partial("_LeftMenu")

@using (Html.BeginForm("Delete", "Athletes", FormMethod.Post, new { style = "display:none;", id = "delete-form" }))
{
    @Html.AntiForgeryToken();
    @Html.TextBox("id", Model.Id, new { style = "display:none;" })
}

<div class="col-md-10">
    <div class="row">
        <div class="bootstrap-admin-content-title">
            <h1>Manage @(Model.FirstName + " " + Model.LastName)</h1>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Athlete Details</div>
            </div>
            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                @using (Html.BeginForm("Edit", "Athletes", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken();
                    <fieldset>
                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control col-md-6", autocomplete = "off" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control col-md-6", autocomplete = "off" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.EmailAddress, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control col-md-6", autocomplete = "off" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="birthdatepicker">Date of Birth</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control datepicker" id="birthdatepicker" value="@Model.BirthDate.ToString("MM/dd/yyyy")" name="BirthDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Gender</label>
                            <div class="col-lg-10">
                                @Html.RadioButton("Gender", "Male")
                                <label for="Gender">Male</label>
                                <br />
                                @Html.RadioButton("Gender", "Female")
                                <label for="Gender">Female</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Subscription</label>
                            <div class="col-lg-10">
                                @Html.DropDownList("SubscriptionId", null, "Choose Subscription", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Length</label>
                            <div class="col-lg-10">
                                @Html.DropDownList("SubscriptionLength", null, "Choose Subscription Length", new { @class = "form-control" })
                            </div>
                        </div>

                        <hr />
                        <button type="submit" value="Edit" class="btn btn-primary">Save Changes</button>
                        <a href="javascript:document.getElementById('delete-form').submit()" class="btn btn-default confirm">Delete</a>
                        @Html.ActionLink("Cancel", "Index", "WeeklyClass", new { @class = "btn btn-default" })
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>