@model IEnumerable<HERO.Models.Objects.Athlete>

@{
    ViewBag.Title = "Manage Athletes";
}

@Html.Partial("_LeftMenu")

<h2>Manage Athletes</h2>

<div class="col-md-10">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Current Subscriptions</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.FirstName)</th>
                            <th>@Html.DisplayNameFor(m => m.LastName)</th>
                            <th>@Html.DisplayNameFor(m => m.EmailAddress)</th>
                            <th>@Html.DisplayNameFor(m => m.Subscription.Name)</th>
                            <th>@Html.DisplayNameFor(m => m.SubscriptionLength)</th>
                            <th>Actions</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.FirstName)</td>
                                <td>@Html.DisplayFor(m => item.LastName)</td>
                                <td>@Html.DisplayFor(m => item.EmailAddress)</td>
                                <td>@Html.DisplayFor(m => item.Subscription.Name)</td>
                                <td>@Html.DisplayFor(m => item.SubscriptionLength) Months</td>
                                <td>
                                    @Html.ActionLink("Manage", "Details", new { id = item.Id }, new { @class = "btn btn-xs btn-default" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-xs btn-default" })
                                </td>
                            </tr>
                        }
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@Html.ActionLink("Add an Athlete", "Create", "Athletes", new { @class = "btn btn-lg btn-primary" } )
