<!-- left, vertical navbar -->
<div class="col-md-2 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        @Html.MenuItem("About", "Index", "Home")
        @if (User.IsInRole("Admin"))
        {
            @Html.MenuItem("Subscriptions", "Index", "Subscriptions")
            @Html.MenuItem("Athletes", "Index", "Athletes")
            @Html.MenuItem("Weekly Classes", "Index", "WeeklyClassSetups")
            @Html.MenuItem("Single Classes", "Index", "SingleClassSetups")
            @Html.MenuItem("Calendar", "Index", "Classes")
        }
        else
        {
            @Html.MenuItem("Calendar", "Index", "Classes")
            @Html.MenuItem("Appointments", "Appointments", "Classes")
        }
    </ul>
</div>

