@model HERO.Models.ClassSignupViewModel

@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Class Details";
    bool AthleteInClass = Model.Class.Attendance.Contains(Model.Athlete);
}

@Html.Partial("_LeftMenu")

@if (!AthleteInClass)
{
    using (Html.BeginForm("Signup", "Classes", FormMethod.Post, new { style = "display:none;", id = "class-form" }))
    {
        @Html.AntiForgeryToken()
        <input name="userId" type="hidden" value="@User.Identity.GetUserId()" />
        <input name="classId" type="hidden" value="@Model.Class.Id" />
    }
}
else
{
    using (Html.BeginForm("Cancel", "Classes", FormMethod.Post, new { style = "display:none;", id = "class-form" }))
    {
        @Html.AntiForgeryToken()
        <input name="userId" type="hidden" value="@User.Identity.GetUserId()" />
        <input name="classId" type="hidden" value="@Model.Class.Id" />
    }
}

@if (User.IsInRole("Admin"))
{
    using (Html.BeginForm("RemoveWodFromClass", "WOD", FormMethod.Post, new { style = "display:none;", id = "remove-wod-form"}))
    {
        @Html.AntiForgeryToken();
        <input type="hidden" name="classId" value="@Model.Class.Id" />      
    }
}

<div class="col-md-10">
    <div class="row">
        <div class="bootstrap-admin-content-title">
            <h1>@Model.Class.Type</h1>
        </div>
    </div>
    @if (ViewData["SuccessHeader"] != null)
    {
        <div class="row">
            <div class="alert alert-success bootstrap-admin-alert">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>@ViewData["SuccessHeader"].ToString()</h4>
                @ViewData["SuccessBody"].ToString()
            </div>
        </div>
    }
    <div class="row bootstrap-admin-no-edges-padding">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Class Details</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <p><b>Date:</b> @Model.Class.Time.Value.Date.DayOfWeek, @Model.Class.Time.Value.Date.ToString("MMMM") @Model.Class.Time.Value.Date.Day</p>
                    <p><b>Time:</b> @Model.Class.Time.Value.ToString(@"hh\:mm tt")</p>
                    <p><b>Duration:</b> @Model.Class.Duration Hours</p>
                    @{ int spaces = Model.Class.MaxAttendance - Model.Class.Attendance.Count(); }
                    <p><b>Spaces Remaining:</b> @spaces</p>
                    <hr />
                    @if (User.IsInRole("Admin"))
                    {
                        if (Model.Class.SingleClass != null)
                        {
                            @Html.ActionLink("Manage", "Details", "SingleClassSetups", new { id = Model.Class.Id }, new { @class = "btn btn-primary" })
                        }
                        else
                        {
                            @Html.ActionLink("Manage", "Details", "WeeklyClassSetups", new { id = Model.Class.Id }, new { @class = "btn btn-primary" })
                        }
                    }
                    else
                    {
                        if (Model.Class.Time.Value > DateTime.Now)
                        {
                            if (!AthleteInClass)
                            {
                                <a href="javascript:document.getElementById('class-form').submit()" class="btn btn-primary">Signup</a>
                            }
                            else
                            {
                                <a href="javascript:document.getElementById('class-form').submit()" class="btn btn-primary">Cancel Signup</a>
                            }
                        }
                    }
                    @Html.ActionLink("Back to Calendar", "Index", "Classes", new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
        <div class="row bootstrap-admin-no-edges-padding">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="text-muted bootstrap-admin-box-title">Class WOD</div>
                    </div>
                    @if (Model.Class.WOD != null)
                    {
                        <div class="bootstrap-admin-panel-content">
                            @Html.Raw(Model.Class.WOD.Description)
                            @if (User.IsInRole("Admin"))
                            {
                                <hr />
                                @Html.ActionLink("Change WOD", "AddToClass", new { controller = "WOD", classId = Model.Class.Id }, new { @class = "btn btn-primary" })
                                <a href="javascript:document.getElementById('remove-wod-form').submit()" class="btn btn-default">Remove WOD</a>
                            }
                            else if (User.IsInRole("Athlete") && Model.Class.Time.Value <= DateTime.Now)
                            {
                                <hr />
                                if (Model.Athlete.Performances.Any(p => p.WOD == Model.Class.WOD))
                                {
                                    var performance = Model.Athlete.Performances.Single(p => p.WOD == Model.Class.WOD);
                                    @Html.ActionLink("Edit Performance", "Edit", new { controller = "Performances", id = performance.Id, classId = Model.Class.Id }, new { @class = "btn btn-primary" })
                                }
                                else
                                {
                                    @Html.ActionLink("Record Performance", "Create", new { controller = "Performances", classId = Model.Class.Id }, new { @class = "btn btn-primary" })
                                }
                            }
                        </div>
                    }
                    else
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <div class="bootstrap-admin-panel-content">
                                <p>It looks like you haven't added a WOD to this class yet.</p>
                                <hr />
                                @Html.ActionLink("Add a New WOD", "Create", new { controller = "WOD", classId = Model.Class.Id }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Add Existing WOD", "AddToClass", new { controller = "WOD", classId = Model.Class.Id }, new { @class = "btn btn-default" })
                            </div>
                        }
                        else
                        {
                            <div class="bootstrap-admin-panel-content">
                                <p>A WOD has not been assigned for this class yet.</p>
                                <hr />
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>