@model HERO.Models.PastClassesViewModel

@{
    ViewBag.Title = "Past Classes";
}

@using HERO.HtmlHelperExtensions

@Html.Partial("_LeftMenu")

<div class="col-md-10">
    <div class="row">
        <div class="bootstrap-admin-content-title">
            <h1>Past Classes</h1>
        </div>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <div class="row">
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                @ViewBag.Error
            </div>
        </div>
    }
    else
    {
        if (Model.Classes.Count() == 0)
        {
            <div class="row bootstrap-admin-no-edges-padding">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="text-muted bootstrap-admin-box-title">No Past Classes</div>
                        </div>
                        <div class="bootstrap-admin-panel-content">
                            <p>Woops. It looks like you haven't attended any classes with us yet.</p>
                        </div>
                    </div>
                </div>
                @Html.ActionLink("Go to Calendar", "Index", new { controller = "Classes" }, new { @class = "btn btn-lg btn-primary" })
            </div>
        }
        else
        {
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="text-muted bootstrap-admin-box-title">Classes</div>
                    </div>
                    <div class="bootstrap-admin-panel-content">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Class Type</th>
                                    <th>Date</th>
                                    <th>WOD</th>
                                    <th>Performance</th>
                                </tr>
                                @foreach (var item in Model.Classes)
                                {
                                    <tr>
                                        <td>@Html.ActionLink(item.Type, "Details", new { controller = "Classes", id = item.Id })</td>
                                        <td>@Html.DisplayFor(m => item.Time)</td>
                                        <td>@item.WOD.Name</td>
                                        <!-- if class does not contain athlete's performance -->
                                        @if (!item.Performances.Any(p => p.AthleteId.Equals(Model.AthleteId)))
                                        {
                                            <td>@Html.ActionLink("Add Your Performance", "Create", new { controller = "Performances", classId = item.Id } )</td>
                                        }
                                        else
                                        {
                                            var performance = item.Performances.Single(p => p.AthleteId.Equals(Model.AthleteId));
                                            <td>@Html.WODScore(item.WOD.Scoring, performance.ScoreActual)</td>
                                        }
                                    </tr>
                                }
                            </thead>
                        </table>
                    </div>
                </div>
                @Html.ActionLink("Go to Calendar", "Index", new { controller = "Classes" }, new { @class = "btn btn-lg btn-primary" })
            </div>
        }
    }
</div>

