@model HERO.Models.ClassSignupViewModel

@{
    ViewBag.Title = "Class Signup Success!";
}

@Html.Partial("_LeftMenu")

<div class="col-md-10">
    <div class="row">
        <div class="bootstrap-admin-content-title">
            <h1>@Model.Class.Type</h1>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-success bootstrap-admin-alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>@ViewData["SuccessHeader"].ToString()</h4>
            @ViewData["SuccessBody"].ToString()
        </div>
    </div>
    <div class="row bootstrap-admin-no-edges-padding">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Class Details</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <p><b>Date:</b> @Model.Class.Time.Value.Date.DayOfWeek, @Model.Class.Time.Value.Date.ToString("MMMM") @Model.Class.Time.Value.Date.Day</p>
                    <p><b>Time:</b> @Model.Class.Time.Value.ToString(@"hh\:mm tt")</p>
                    <p><b>Duration:</b> @Model.Class.Duration Hours</p>
                    @{ int spaces = Model.Class.MaxAttendance - Model.Class.Attendance.Count(); }
                    <p><b>Spaces Remaining:</b> @spaces</p>
                    <hr />

                    @if (Model.Class.Attendance.Contains(Model.Athlete))
                    {
                        <a href="javascript:document.getElementById('signup-form').submit()" class="btn btn-lg btn-primary">Signup</a>
                        @Html.ActionLink("Back to Home", "Index", new { controller = "Home" } , new { @class = "btn btn-lg btn-default" })
                    }
                    else
                    {
                        @Html.ActionLink("Back to Home", "Index", new { controller = "Home" }, new { @class = "btn btn-lg btn-default" })

                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table table-condensed table-hovered sortableTable">
                <thead>
                    <tr>
                        <th>Athlete Name <i class="icon-sort"></i><i class="icon-sort-down"></i><i class="icon-sort-up"></i></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var athlete in Model.Class.Attendance)
                    {
                        <tr><td>@(athlete.FirstName + " " + athlete.LastName)</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>