@model HERO.Models.Objects.Subscription

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.Partial("_LeftMenu")

<h2>Subscription Enrollment</h2>
<p>Enrollment details for <b>@Model.Name</b>.</p>
<hr />
<div class="col-lg-10">
    <table class="table table-condensed table-hovered sortableTable">
        <thead>
            <tr>
                <th>Athlete Name <i class="icon-sort"></i><i class="icon-sort-down"></i><i class="icon-sort-up"></i></th>
                <th>Subscription Length (In Months) <i class="icon-sort"></i><i class="icon-sort-down"></i><i class="icon-sort-up"></i></th>
            </tr>
        </thead>
        <tbody>
           @foreach(var item in Model.Athletes)
           {
               <tr>
                   <td>@(item.FirstName + " " + item.LastName)</td>
                   <td>@item.SubscriptionLength</td>
               </tr>
           }
        </tbody>
    </table>
</div>

@section scripts {
    @Scripts.Render("~/bundles/vendors")
    <script type="text/javascript">
        $(function () { dashboard(); });
        $(".sortableTable").tablesorter();
    </script>
}