@model HERO.Models.Objects.Subscription

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.Partial("_LeftMenu")

<h2>Manage "@Model.Name"</h2>

@using (Html.BeginForm("Delete", "Subscriptions", FormMethod.Post, new { style = "display:none;", id = "delete-form" } ))
{
    @Html.AntiForgeryToken();
    @Html.TextBox("id", Model.Id, new { style = "display:none;" } )
}
<hr />
<div class="col-lg-10">
    <div class="row">
        <div class="panel panel-default bootstrap-admin-no-table-panel">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Edit @Model.Name</div>
            </div>
            <div class="bootstrap-admin-no-table-panel-content bootstrap-admin-panel-content collapse in">
                @using (Html.BeginForm("Edit", "Subscriptions", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                    @Html.AntiForgeryToken();
                    <fieldset>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control col-md-6", autocomplete = "off" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PricePerMonth, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(m => m.PricePerMonth, new { @class = "form-control col-md-6", autocomplete = "off" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PricePerHalfYear, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(m => m.PricePerHalfYear, new { @class = "form-control col-md-6", autocomplete = "off" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PricePerYear, new { @class = "col-lg-2 control-label" })
                            <div class="col-lg-10">
                                @Html.TextBoxFor(m => m.PricePerYear, new { @class = "form-control col-md-6", autocomplete = "off" })
                            </div>
                        </div>
                        <hr />
                        <button type="submit" value="Edit" class="btn btn-primary">Save Changes</button>
                        <a href="javascript:document.getElementById('delete-form').submit()" class="btn btn-default confirm">Delete</a>
                        @Html.ActionLink("Cancel", "Index", "Subscriptions", new { @class = "btn btn-default" })
                    </fieldset>
                }
            </div>
        </div>
    </div>
    <p>Enrollment details for <b>@Model.Name</b>.</p>
    <table class="table table-condensed table-hovered sortableTable">
        <thead>
            <tr>
                <th>Athlete Name <i class="icon-sort"></i><i class="icon-sort-down"></i><i class="icon-sort-up"></i></th>
                <th>Subscription Length <i class="icon-sort"></i><i class="icon-sort-down"></i><i class="icon-sort-up"></i></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Athletes)
            {
                <tr>
                    <td>@Html.ActionLink(item.FirstName + " " + item.LastName, "Details", new { controller = "Athletes", id = item.Id })</td>
                    <td>@(item.SubscriptionLength + " Months")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    @Scripts.Render("~/bundles/vendors")
    <script type="text/javascript" src="~/Scripts/jquery.confirm.js"></script>
    <script type="text/javascript">
        $('.sortableTable').tablesorter();
        $('.confirm').confirm({
            text: "Are you sure you want to delete @Model.Name?",
            confirmButton: "Go for it",
            cancelButton: "No go back!"
        });
    </script>
}