@model IEnumerable<HERO.Models.Objects.Subscription>

@{
    ViewBag.Title = "Manage Subscription Levels";
}

@Html.Partial("_LeftMenu")

<div class="col-md-10">
    <div class="row">
        <div class="bootstrap-admin-content-title">
            <h1>Manage Subscription Levels</h1>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Current Subscriptions</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.Name)</th>
                            <th>@Html.DisplayNameFor(m => m.PricePerMonth)</th>
                            <th>@Html.DisplayNameFor(m => m.PricePerHalfYear)</th>
                            <th>@Html.DisplayNameFor(m => m.PricePerYear)</th>
                            <th>Actions</th>
                        </tr>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.Name)</td>
                                <td>@Html.DisplayFor(m => item.PricePerMonth)</td>
                                <td>@Html.DisplayFor(m => item.PricePerHalfYear)</td>
                                <td>@Html.DisplayFor(m => item.PricePerYear)</td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-xs btn-default" })
                                </td>
                            </tr>
                        }
                    </thead>
                </table>
            </div>
        </div>
        @Html.ActionLink("Add a Subscription", "Create", "Subscriptions", new { @class = "btn btn-lg btn-primary" })
    </div>
</div>
