@model IEnumerable<HERO.Models.Objects.Subscription>

@{
    ViewBag.Title = "Manage Subscription Levels";
}

@Html.Partial("_LeftMenu")

<div class="col-md-10">
    <div class="row">
        <div class="bootstrap-admin-content-title">
            <h1>Manage Subscription Levels</h1>
        </div>
    </div>

    @if (Model.Count() == 0)
    {
        <div class="row bootstrap-admin-no-edges-padding">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="text-muted bootstrap-admin-box-title">No Subscriptions Found</div>
                    </div>
                    <div class="bootstrap-admin-panel-content">
                        <p>Woops, it looks like you don't have any subcriptions stored in the system. Click on the "Add a Subscription" button below to add one!</p>
                    </div>
                </div>
                @Html.ActionLink("Add a Subscription", "Create", "Subscriptions", new { @class = "btn btn-lg btn-primary" })
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Current Subscriptions</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Name)</th>
                                <th>@Html.DisplayNameFor(m => m.PricePerMonth)</th>
                                <th>@Html.DisplayNameFor(m => m.PricePerHalfYear)</th>
                                <th>@Html.DisplayNameFor(m => m.PricePerYear)</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.ActionLink(item.Name, "Details", new { controller = "Subscriptions", id = item.Id })</td>
                                    <td>@Html.DisplayFor(m => item.PricePerMonth)</td>
                                    <td>@Html.DisplayFor(m => item.PricePerHalfYear)</td>
                                    <td>@Html.DisplayFor(m => item.PricePerYear)</td>
                                </tr>
                            }
                        </thead>
                    </table>
                </div>
            </div>
            @Html.ActionLink("Add a Subscription", "Create", "Subscriptions", new { @class = "btn btn-lg btn-primary" })
        </div>
    }
</div>
