@model IEnumerable<HERO.Models.Objects.WeeklyClass>

@{
    ViewBag.Title = "Manage Weekly Classes";
}

@Html.Partial("_LeftMenu")

<div class="col-md-10">
    <div class="row">
        <div class="bootstrap-admin-content-title">
            <h1>Manage Weekly Classes</h1>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Current Weekly Classes</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.Type)</th>
                            <th>@Html.DisplayNameFor(m => m.Days)</th>
                            <th>@Html.DisplayNameFor(m => m.Duration)</th>
                            <th>@Html.DisplayNameFor(m => m.MaxAttendance)</th>
                            <th>Actions</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.Type)</td>
                                <td>@string.Join(", ", item.Days)</td>
                                <td>@Html.DisplayFor(m => item.Duration)</td>
                                <td>@Html.DisplayFor(m => item.MaxAttendance)</td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-xs btn-default" })
                                </td>
                            </tr>
                        }
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@Html.ActionLink("Add a Weekly Class", "Create", "WeeklyClasses", new { @class = "btn btn-lg btn-primary" })